<h1>ACTIVITY 2</h1>
<h2>Car Accident Data Analytics</h2>

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

accident = pd.read_csv("datasets\\uk_accident_data.csv")

accident

In [32]:
accident.value_counts()

Index          Accident_Severity  Accident Date  Latitude   Light_Conditions        District Area      Longitude  Number_of_Casualties  Number_of_Vehicles  Road_Surface_Conditions  Road_Type           Urban_or_Rural_Area  Weather_Conditions     Vehicle_Type           Year  Month  Day  DayOfWeek  Hour
2.01E+12       Slight             2020-04-05     55.988302  Daylight                East Lothian       -2.527800  1                     1                   Snow                     Dual carriageway    Rural                Other                  Car                    2020  4      5    6          0       2
                                  2019-06-27     52.647531  Daylight                Great Yarmouth      1.727655  1                     2                   Dry                      Roundabout          Urban                Fine no high winds     Car                    2019  6      27   3          0       2
                                  2020-11-22     52.624184  Darkness - no lighting  Broadland           1.372570  1                     2                   Snow                     Dual carriageway    Rural                Snowing no high winds  Car                    2020  11     22   6          0       2
                                  2020-12-07     50.870870  Darkness - no lighting  Brighton and Hove  -0.125952  1                     1                   Frost or ice             Dual carriageway    Rural                Fine no high winds     Car                    2020  12     7    0          0       2
                                  2020-05-03     51.015531  Daylight                Winchester         -1.341631  1                     3                   Dry                      Dual carriageway    Rural                Fine no high winds     Car                    2020  5      3    6          0       2
                                                                                                                                                                                                                                                                                                                ..
201091NL05068  Slight             2022-09-09     60.157212  Darkness - lights lit   Shetland Islands   -1.155823  1                     1                   Wet or damp              Single carriageway  Rural                Raining + high winds   Taxi/Private hire car  2022  9      9    4          0       1
201091NL05148  Slight             2022-09-13     60.344563  Darkness - no lighting  Shetland Islands   -1.252809  3                     1                   Wet or damp              Single carriageway  Rural                Raining + high winds   Car                    2022  9      13   1          0       1
201091NL05795  Slight             2022-10-15     60.254095  Daylight                Shetland Islands   -1.293355  1                     2                   Wet or damp              Single carriageway  Rural                Raining no high winds  Car                    2022  10     15   5          0       1
201091NL05842  Serious            2022-10-18     60.162660  Daylight                Shetland Islands   -1.165232  1                     1                   Dry                      Single carriageway  Rural                Fine + high winds      Car                    2022  10     18   1          0       1
2.01E+102      Serious            2019-02-13     51.899266  Daylight                Stevenage          -0.198869  1                     2                   Dry                      Single carriageway  Urban                Fine no high winds     Agricultural vehicle   2019  2      13   2          0       1
Name: count, Length: 660660, dtype: int64

In [4]:
accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660679 entries, 0 to 660678
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Index                    660679 non-null  object
 1   Accident_Severity        660679 non-null  object
 2   Accident Date            660679 non-null  object
 3   Latitude                 660654 non-null  float64
 4   Light_Conditions         660679 non-null  object
 5   District Area            660679 non-null  object
 6   Longitude                660653 non-null  float64
 7   Number_of_Casualties     660679 non-null  int64
 8   Number_of_Vehicles       660679 non-null  int64
 9   Road_Surface_Conditions  659953 non-null  object
 10  Road_Type                656159 non-null  object
 11  Urban_or_Rural_Area      660664 non-null  object
 12  Weather_Conditions       646551 non-null  object
 13  Vehicle_Type             660679 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 70.6+ MB

In [5]:
accident['Accident Date'] = accident['Accident Date'].str.strip()
accident['Accident Date'] = accident['Accident Date'].astype('str')
accident['Accident Date'] = accident['Accident Date'].str.replace('/', '-')

In [6]:
accident['Accident Date'] = pd.to_datetime(accident['Accident Date'], dayfirst = True, errors = 'coerce')

In [7]:
accident.dtypes

Index                              object
Accident_Severity                  object
Accident Date              datetime64[ns]
Latitude                          float64
Light_Conditions                   object
District Area                      object
Longitude                         float64
Number_of_Casualties                int64
Number_of_Vehicles                  int64
Road_Surface_Conditions            object
Road_Type                          object
Urban_or_Rural_Area                object
Weather_Conditions                 object
Vehicle_Type                       object
dtype: object

In [8]:
accident['Year'] = accident['Accident Date'].dt.year
accident['Month'] = accident['Accident Date'].dt.month
accident['Day'] = accident['Accident Date'].dt.day
accident['DayOfWeek'] = accident['Accident Date'].dt.dayofweek

In [9]:
accident.isnull().sum()

Index                          0
Accident_Severity              0
Accident Date                  0
Latitude                      25
Light_Conditions               0
District Area                  0
Longitude                     26
Number_of_Casualties           0
Number_of_Vehicles             0
Road_Surface_Conditions      726
Road_Type                   4520
Urban_or_Rural_Area           15
Weather_Conditions         14128
Vehicle_Type                   0
Year                           0
Month                          0
Day                            0
DayOfWeek                      0
dtype: int64

In [10]:
accident['Latitude'] = accident['Latitude'].fillna(accident['Latitude'].mean())
accident['Longitude'] = accident['Longitude'].fillna(accident['Longitude'].mean())
accident['Road_Surface_Conditions'] = accident['Road_Surface_Conditions'].fillna(accident['Road_Surface_Conditions'].mode()[0])
accident['Road_Type'] = accident['Road_Type'].fillna(accident['Road_Type'].mode()[0])
accident['Urban_or_Rural_Area'] = accident['Urban_or_Rural_Area'].fillna(accident['Urban_or_Rural_Area'].mode()[0])
accident['Weather_Conditions'] = accident['Weather_Conditions'].fillna(accident['Weather_Conditions'].mode()[0])

In [11]:
accident.isnull().sum()

Index                      0
Accident_Severity          0
Accident Date              0
Latitude                   0
Light_Conditions           0
District Area              0
Longitude                  0
Number_of_Casualties       0
Number_of_Vehicles         0
Road_Surface_Conditions    0
Road_Type                  0
Urban_or_Rural_Area        0
Weather_Conditions         0
Vehicle_Type               0
Year                       0
Month                      0
Day                        0
DayOfWeek                  0
dtype: int64

<h2>Univariate Analysis on accident that happened in 2019</h2>

In [12]:
df_2019 = accident[accident['Year'] == 2019]

In [13]:
print(f"total number of accident in 2019 is {df_2019['Light_Conditions'].value_counts().sum()}")
df_2019['Light_Conditions'].value_counts()

total number of accident in 2019 is 182115

Light_Conditions
Daylight                       133042
Darkness - lights lit           35769
Darkness - no lighting          10842
Darkness - lighting unknown      1768
Darkness - lights unlit           694
Name: count, dtype: int64

<h2>ACTIVITY 2</h2>

<H3>Q1. Which Accident Severity occurs most frequently?</H3>

In [14]:
accident['Accident_Severity'].value_counts()

Accident_Severity
Slight     563801
Serious     88217
Fatal        8661
Name: count, dtype: int64

<h3>Q2. What is the most common Weather Condition during accidents?</h3>

In [15]:
accident['Weather_Conditions'].mode()[0]

'Fine no high winds'

<h3>Q3. Road Surface Condition with the highest number of accidents?</h3>

In [16]:
accident.groupby('Road_Surface_Conditions').size().idxmax()

'Dry'

<h3>Q4. Average number of casualties per accident by severity?</h3>

In [17]:
accident.groupby('Accident_Severity')['Number_of_Casualties'].mean()

Accident_Severity
Fatal      1.903129
Serious    1.467280
Slight     1.331402
Name: Number_of_Casualties, dtype: float64

<h3>Q5.Hour of the day with max accidents?</h3>

In [18]:
accident['Hour'] = accident['Accident Date'].dt.hour
accident['Hour'].mode()[0]

np.int32(0)

<h3>Q6.In 2022, how many accidents happened, and what were the counts by Road Type?</h3>

In [35]:
df_2022 = accident[accident['Year'] == 2022]
print(f"Total number of accidents in 2022: {df_2022['Road_Type'].value_counts().sum()}")
df_2022['Road_Type'].value_counts()

Total number of accidents in 2022: 144419

Road_Type
Single carriageway    108654
Dual carriageway       21415
Roundabout              9888
One way street          2926
Slip road               1536
Name: count, dtype: int64

<h3>Q7. Which month had the highest average casualties?</h3>

In [20]:
accident.groupby('Month')['Number_of_Casualties'].mean()

Month
1     1.343585
2     1.343941
3     1.351107
4     1.364796
5     1.362791
6     1.350826
7     1.366350
8     1.396324
9     1.347144
10    1.347801
11    1.348024
12    1.362972
Name: Number_of_Casualties, dtype: float64

<h3>Q8.What Vehicle Type is most common in fatal accidents?</h3>

In [22]:
fatal_accidents = accident[accident['Accident_Severity'] == 'Fatal']
fatal_accidents['Vehicle_Type'].mode()[0]

'Car'

<h3>Q9. Average number of vehicles involved per Vehicle Type.</h3>

In [23]:
accident.groupby('Vehicle_Type')['Number_of_Vehicles'].mean()

Vehicle_Type
Agricultural vehicle                     1.805855
Bus or coach (17 or more pass seats)     1.831015
Car                                      1.832134
Data missing or out of range             1.666667
Goods 7.5 tonnes mgw and over            1.830935
Goods over 3.5t. and under 7.5t          1.833497
Minibus (8 - 16 passenger seats)         1.804150
Motorcycle 125cc and under               1.815247
Motorcycle 50cc and under                1.839537
Motorcycle over 125cc and up to 500cc    1.825888
Motorcycle over 500cc                    1.834743
Other vehicle                            1.825971
Pedal cycle                              1.837563
Ridden horse                             1.500000
Taxi/Private hire car                    1.836468
Van / Goods 3.5 tonnes mgw or under      1.824180
Name: Number_of_Vehicles, dtype: float64

<h3>Q10. Compare the average number of casualties in Urban vs Rural areas (per District)</h3>

In [24]:
accident.groupby(['District Area','Urban_or_Rural_Area'])['Number_of_Casualties'].mean()

District Area  Urban_or_Rural_Area
Aberdeen City  Rural                  1.193237
               Urban                  1.129928
Aberdeenshire  Rural                  1.327344
               Urban                  1.107383
Adur           Rural                  1.461929
                                        ...
Wyre           Urban                  1.298153
Wyre Forest    Rural                  1.505967
               Urban                  1.289091
York           Rural                  1.508499
               Urban                  1.165407
Name: Number_of_Casualties, Length: 824, dtype: float64

<h3>Q11.District Area with the highest single accident casualties?</h3>

In [25]:
max_cas = accident.groupby('District Area')['Number_of_Casualties'].max()
max_cas[max_cas == max_cas.max()]

District Area
South Bucks    68
Name: Number_of_Casualties, dtype: int64

<H3>Q12.Total casualties per District Area</H3>

In [26]:
accident.groupby('District Area')['Number_of_Casualties'].sum()

District Area
Aberdeen City    1508
Aberdeenshire    2529
Adur              817
Allerdale        1663
Alnwick           351
                 ...
Wychavon         1943
Wycombe          2442
Wyre             1706
Wyre Forest      1340
York             2453
Name: Number_of_Casualties, Length: 422, dtype: int64

<h3>Q13.What is the average number of vehicles involved in accidents on wet roads compared to dry roads?</h3>

In [29]:
wet_avg = accident[accident['Road_Surface_Conditions'] == 'Wet']['Number_of_Vehicles'].mean()
dry_avg = accident[accident['Road_Surface_Conditions'] == 'Dry']['Number_of_Vehicles'].mean()

print("Wet roads average vehicles:", wet_avg)
print("Dry roads average vehicles:", dry_avg)

Wet roads average vehicles: nan
Dry roads average vehicles: 1.8416308658847345

<h3>Q14.In which month did the most accidents occur?</h3>

In [30]:
monthly_counts = accident['Month'].value_counts()
monthly_counts[monthly_counts == monthly_counts.max()]

Month
11    60424
Name: count, dtype: int64

<h3>Q15. In which month did the fewest accidents occur?</h3>

In [31]:
monthly_counts = accident['Month'].value_counts()
monthly_counts[monthly_counts == monthly_counts.min()]

Month
2    49491
Name: count, dtype: int64